
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#343436;
    background-image:linear-gradient(top, #C7A7A7 0%, #E4F4E4 51%);
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    width:100%;
    margin:20px 0px;
    padding:0px;
}

.btnDiv {
    width:120px;
    height:40px;
    background-color:#eee;
    line-height:40px;
    border:solid 1px #fff;
    margin:60px 0px;
    text-align:center;
    float:right;
}

.contentWrap {
    margin:30px 10px;
    /*border:solid 1px Red;*/
}

.contentWrap div {
    margin:20px 0px;
}

#txtArea {
    border-radius: 0;
    width:100%;
    margin: 0;
    padding:0;
}


